/* NavBar.css */

.navbar {
    background-color: #ffdf9b; /* Background color of the navbar */
    color: #ffdf9b; /* Text color */
    padding: 10px 20px; /* Padding around navbar content */
    display: flex;
    justify-content: space-between;
    align-items: justify;
  }
  
  .navbar-container {
    justify-content: space-between;;
    display: flex;
    width: 100%;
    
    
  }
  
#logo{
  width: 50px;
  margin-left: 0px;
  margin-right: 10px;
}

  .navbar-logo {
    
    text-decoration: none;
    color: #000000;
    font-size: 2rem;
    align-items: left;
    margin-right: 20px; /* Margin between logo and menu items */
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    align-content:right;
    gap: 20px; /* Spacing between menu items */
  }
  
  .nav-item {
    
    margin: 0;
  }
  
  .nav-links {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size:large;
    transition: color 0.3s ease; /* Smooth color transition on hover */
  }
  
  .nav-links:hover {
    color: #ffcc00; /* Color when hovering over menu items */
  }
  
  .menu-icon {
    display: none; /* Initially hide the menu icon on larger screens */
    align-items: flex-end;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 5px;
  }
  
@media screen and (max-width: 768px) {
    .nav-menu {
      display: none; /* Hide the menu links on smaller screens */
      flex-direction: column;
      text-align: center;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
    }
  
    .nav-menu.active {
      display: flex; /* Show the menu links when active (menu icon clicked) */
    }
  
    .menu-icon {
      display: block; /* Show the menu icon on smaller screens */
    }
  
}