/* SearchBar.css */

.searchInput_Container {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px; /* Adjust margin between search bars */
}

.searchInput_Container h3 {
    margin-right: 10px;
    font-size: 18px;
    color: #333;
}

#searchInput {
    width: 200px; /* Set a fixed width for the input field */
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
}

#searchInput::placeholder {
    color: #999;
}

#searchInput:focus {
    border: 2px solid #4CAF50;
}
